
form label{
    color:rgba(58, 9, 58, 0.779);
    font-style:initial;
    text-align:justify;
}
form ,input{
    border-radius: 10%;
  
    text-align: justify;
}
button{
    color:rgb(158, 12, 126);
    font-size: large;
    border-color: rgb(50, 4, 41);
    border-radius: 10px;
}
fieldset{
    
    width: 700px;
   background-image: url('div bg.jpg');
    /* background-color: #e98cb9; */
    border-color: rgb(162, 36, 68);
    border-width: 20px;

}
